.profile-view {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: start;
}

.li:not(:first-child) {
    margin: 0.5rem 0;
}

.li {
    display: flex;
    align-items: center;

    svg {
        margin-right: 0.25rem;
        fill: var(--text-clr);
    }
}

.profile_image_container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.profile_picture {
    justify-self: center;
}

#edit_profile_image {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -10px;
    right: 10px;
    cursor: pointer;
    display: none;
}

.profile_image_container:hover>#edit_profile_image {
    display: block;
}

/* Skjul det opprinnelige filopplastingsfeltet */
.file-input {
    display: none;
}

/* Style for tilpasset knapp */
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #83BF73;
    color: white;
    border-radius: 4px;
    font-weight: 100;
}

/* Style for visning av filnavnet */
.file-name {
    margin-left: 10px;
    font-style: italic;
    color: #555;
}

.dialog_header {
    margin-bottom: 2rem;
}