:root {
  --color-primary: #59514f;
  --color-nav: #f2f2f2;

  --nav-width: 150px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: var(--color-nav);
  min-width: var(--nav-width);
  max-width: var(--nav-width);
  min-height: 100vh;
  position: fixed;
  padding-top: 1rem;
}

main {
  margin-left: var(--nav-width);
  padding: 1rem;
}
